@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

/* header style  */

.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
  margin: 20px 120px;
}

.links li {
  list-style: none;
  display: inline-block;
}

.links ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  display: block;
}

.links li a:hover {
  color: royalblue;
}

.links li::after {
  display: block;
  content: "";
  border-bottom: solid 3px royalblue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.links li:hover::after {
  transform: scaleX(0.9);
}

.top-icons {
  margin-right: 120px;
}

.links,
.top-icons {
  margin-left: auto;
}

/* -------------
details  top style 
 ---------------*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.container-left {
  margin: 0 120px;
}

.container-left h1 {
  font-size: 52px;
  color: #3a3a3a;
}
.container-left p {
  font-size: 16px;
}

.container-btn button {
  background-color: #e02c6d;
  border: none;
  color: white;
  height: 44px;
  width: 196px;
  padding: 10px 24px;
  border-radius: 41px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.fas {
  margin-left: 6px;
  margin-top: 5px;
  color: #ffffff;
}

.container-right {
  float: right;
  width: 440px;
  height: 414px;
}

/* ------------------
details  top style end
 --------------------*/

/* logos section  */

.logos {
  text-align: center;
  margin: 103px 165px;
}

.logos img {
  margin-right: 60px;
}

hr {
  width: 1110px;
  border-color: #c0ccda1a;
  border-width: 1px;
}

/* logos section end */

/*----------------------------

 popular collection section 
 
 -------------------------- */

.collection-title {
  font-weight: 600px;
  font-size: 28px;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 30px;
}

/* collection items */

.collections {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.collection {
  width: 329px;
  height: 446px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px lightgray;
  padding: 17px 15px;
  margin: 15px;
}

.thumbnail {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin: 0 auto;
}

.item-desc {
  margin-left: 15px;
}

.item-name {
  color: #18191f;
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.item-price {
  font-size: 24px;
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}
.ratings {
  display: flex;
  align-items: center;
  margin-top: -62px;
  margin-bottom: -22px;
}
.ratings .fa-star {
  color: #ffa600d7;
  font-size: 14px;
}
.ratings p {
  font-size: 14px;
  font-weight: 700;
  color: #5e6366;
  margin-left: 8px;
}
.collection-delivery {
  font-size: 14px;
  color: #787885;
  font-family: "Inter";
  line-height: 19px;
}

/*------------------------
             footer 
 ------------------------*/

footer {
  text-align: center;
  background-color: #0a0826;
  margin-top: 100px;
  padding: 10px 0;
  width: 100%;
}

footer h4 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
}

footer p {
  font-weight: 700;
  font-size: 14px;
  color: #d9dbe1;
}

footer .fab {
  color: #ffffff;
  background-color: #e6e6e61a;
  padding: 7px;
  border-radius: 50%;
  margin: 0 4px;
}

/* -------------------------
         footer end 
 -------------------------- */

/* ----------------------
make it responsive-mobile
--------------------- */
@media screen and (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .logo {
    padding: 0;
    margin: 0 0;
  }
  .logo h3 {
    font-size: 16px;
  }
  .links {
    display: none;
  }
  .links a {
    padding: 0;
    margin: 0;
    display: none;
  }
  .top-icons {
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
  }
  /* footer{
        display: none;
    } */
  .container {
    display: flex;
    flex-direction: column;
  }
  .container-left {
    order: 1;
  }
  .container-left .container-title {
    font-size: 32px;
    margin-top: 0px;
  }
  .container-right .container-img {
    height: 286px;
    width: 286px;
  }

  .logos {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .logos img {
    margin: 10px;
  }
  .collection-title {
    font-size: 24px;
  }
  .collections {
    grid-template-columns: 1fr;
  }
}
